# Ignore everything by default
*

# Except these directories
!/MyLD2410/
/MyLD2410/*
!/MyLD2410/Myversion/
!/MyLD2410/Myversion/**

!/trainModel/
!/trainModel/**

!/trainModel2/
!/trainModel2/**

# Except these files
!/data_0_idle.csv
!/data_1_close.csv
!/data_2_far.csv
!/radar_model.pkl
!/.gitignore

# Ignore python caches inside accepted directories
**/__pycache__/
**/*.pyc
**/radar_model.pkl.backup
